<div class="header">
    <%= link_to "", root_path, class: "logo_h1" %>
    </button>
    <div class="logo_massages"></div>
    <div class="logo_map"></div>
    <%= link_to "", authentification_path, class: "logo_profile" %>
 </div>