<div class="img1">
<div class="sharik_container">
        <div class="sharik1"></div>
        <div class="sharik2"></div>
      </div>
      <p class="section1_p1">//Приложение для совместных <br> прогулок с собаками</p>
      <p class="section1_p2">//DOWNLOAD</p>
    </div>
    <div class="container_img2">
      <div class="img2">
        <p class="section2_p1">//Многие собачники сталкиваются <br>с проблемой одиночества собаки <br>на прогулке. Нехватка друзей <br>для своего питомца приводит <br>к увелечению числа <br>не социализированных собак, <br>что способствует закреплению <br>агрессии у собаки на окружающих</p>
        <div class="logo_h2"></div>
        <p class="section2_p2">//В связи с одиночеством собаки <br>на прогулках, страдает <br>и хозяин, но уже от скуки, <br>из-за чего продолжительность <br>прогулки уменьшается. <br>Это отрицательно влияет <br>на здоровье собаки, <br>еe кондицию и появляется <br>проблема с возбудимостью <br>собаки, которую корректировать <br>очень сложно</p>
      </div>
    </div>
    <div class="img2">
      <div class="img_house">
        <div class="img_sharik"></div>
      </div>
    </div>
    <div class="container_img4">
          <p class="section4_p1">//попробуйте погулять <br> с приложением шарик и найдите <br> друзей себе и своему питомцу</p>
          <div class="crack">
            <div class="phone"></div>
          </div>
          <p class="section4_p2">//тестовая версия в фигме</p>
          <div class="qr"></div>
    </div>
    <div class="section4"></div>
    <div class="img3"></div>

    <div class="footer">
      <div class="empy">
        <p class="footer_p1">Подпишитесь на наши новости, <br> чтобы первым затестить приложение!</p>
        <div class="row">
          <form>
            <input type="email" id="email" name="email" placeholder="email">
          </form>
          <div class="button">
            <p class="button_p">подписаться</p>
          </div>
        </div>
      </div>

      <div class="logo_h3"></div>
    </div>
